.main {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

.headerContainer {
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  position: sticky;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(12px);
}

.headerTitleBox {
  flex-grow: 1;
}

.headerTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 17px;
}

.headerIconBox {
  min-width: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerIconLink {
  min-width: 36px;
  min-height: 36px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerIconLink:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.headerIconSvg {
  width: 20px;
  height: 20px;
}

.articleContainer {
  flex-grow: 1;
}

.messagesBox {
  flex-grow: 1;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.userInfoZone {
  border-bottom: 1px solid rgb(239, 243, 244);
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.userInfoZone:hover {
  background-color: rgb(247, 249, 249);
}

.userImage {
  width: 64px;
  height: 64px;
}

.image {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.userId {
  max-width: 100%;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameBox {
  line-height: 20px;
}

.nameBox:hover {
  text-decoration: underline;
}

.nameText {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.idBox {
  line-height: 20px;
}

.idText {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(83, 100, 113);
}

.joinDate {
  margin: 12px 0;
}

.joinDateText {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(83, 100, 113);
}

.followIntersection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.followIntersectionText {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(83, 100, 113);
  word-wrap: break-word;
}

.myMessage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.myMessage .content {
  border-radius: 24px;
  border-bottom-right-radius: 4px;
  background-color: rgb(29, 155, 240);
  padding: 12px 16px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
  cursor: pointer;
}

.myMessage .content:hover {
  background-color: rgb(26, 140, 216);
}

.myMessage .date {
  display: flex;
  justify-content: flex-end;
  color: rgb(83, 100, 113);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 6px;
}

.yourMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.yourMessage .content {
  border-radius: 24px;
  border-bottom-left-radius: 4px;
  background-color: #eff3f4;
  padding: 12px 16px;
  color: #536471;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
  cursor: pointer;
}
.yourMessage .content:hover {
  background-color: #d7dadb;
}

.yourMessage .date {
  display: flex;
  justify-content: flex-start;
  color: rgb(83, 100, 113);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 6px;
}
