.container {
  width: 100%;
}

.navMenuList {
  width: 100%;
  list-style-type: none;
}

.navMenuLink {
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 1280px) {
  .navMenuLink {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}

.navMenuLink:hover .navPill {
  background-color: rgba(15, 20, 25, 0.1);
  border-radius: 29px;
}

.navPill {
  display: inline-flex;
  height: 50px;
  padding: 12px;
  align-items: center;
  border-radius: 29px;
  transition: 0.2s;
}

.navPill > div {
  margin-left: 20px;
  margin-right: 16px;
  font-size: 20px;
  display: none;
}

@media all and (min-width: 1280px) {
  .navPill > div {
    margin-left: 20px;
    margin-right: 16px;
    font-size: 20px;
    display: block;
  }
}
