.main {
  width: 100%;
  height: 100dvh;
  position: relative;
}

.tabSection {
  position: sticky;
  top: -0.5px;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(12px);
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(239, 243, 244);
}

.timelineSettingBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

.timelineSettingLike {
  min-width: 36px;
  min-height: 36px;
  border-radius: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.timelineSettingLike:hover {
  cursor: pointer;
  background-color: rgba(15, 20, 25, 0.1);
}

.svg {
  width: 20px;
  height: 20px;
}
