.exploreMenu {
  width: 100%;
  height: 100%;
}

.topSection {
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.settingBox {
  min-width: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.settingLink {
  min-width: 36px;
  min-height: 36px;
  border-radius: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.settingLink:hover {
  cursor: pointer;
  background-color: rgba(15, 20, 25, 0.1);
}

.svg {
  width: 20px;
  height: 20px;
}

.divider {
  border-bottom: 1px solid rgb(239, 243, 244);
  margin-top: 4px;
}

.trendSection {
  width: 100%;
  font-weight: bold;
  /* border-top: 1px solid rgb(239, 243, 244);
  margin-top: 12px; */
}

.trendSection h3 {
  font-size: 20px;
  padding: 12px 16px;
}

.showMoreBtn {
  width: 100%;
}

.showMoreLink {
  width: 100%;
  display: block;
  padding: 16px;
  transition: 0.2s;
}

.showMoreLink:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.03);
}

.showMoreLink span {
  font-size: 15px;
  color: #1d9bf0;
  font-weight: normal;
  line-height: 20px;
}
